<ul>
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/celebrities/create">Add new celebrity</a>
    </li>
</ul>
<h2>Celebrities</h2>

{{#each allCelebsFromDb}}
<p><b>{{name}}</b>, {{occupation}}</p>
{{/each}}