<ul>
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/celebrities/create">Add new celebrity</a>
    </li>
</ul>
<h2>Celebrities</h2>

{{#each allCelebsFromDb}}
<p><a href="/celebrities/{{_id}}"><b>{{name}}</b>, {{occupation}}</a></p>
{{/each}}

{{!-- Added <a href="/celebrities/{{_id}}"></a> 
to #each allCelebsFromDb loop for the BONUS
This makes the celebrity clickable and takes you to their 
details page --}}